# Credenciais do MongoDB Atlas
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
MONGO_URI=mongodb+srv://${DB_USER}:${DB_PASSWORD}@cluster0.xxxxxxx.mongodb.net/?appName=Cluster0

# Configurações da API IBGE
IBGE_BASE_URL=https://servicodados.ibge.gov.br/api/v3
IBGE_TABELA=4093
IBGE_PERIODOS=201201-202504

# Variáveis coletadas (separadas por vírgula)
# 4099 = Taxa de desocupação
# 4098 = Taxa de participação na força de trabalho
# 4101 = Taxa de informalidade
IBGE_VARIAVEIS=4099,4098,4101

# Configurações do MongoDB
MONGO_DB_NAME=ibge_pnad
MONGO_COLLECTION=indicadores

# Configurações do servidor MCP
MCP_HOST=0.0.0.0
MCP_PORT=8000
